# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.py[cod]

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directories
__pycache__/

#QuestaSim
*.vcd
vsim.wlf
transcript
*.ini
useful_commands.txt
work/
test_data/

#Skywater
130_skywater_pdk/

# Genus
*.log
*.cmd
*.tstamp
fv/